{% extends "_layouts/edit.html" -%}
{% import "_macros/form.html" as form -%}
{% block body %}
{{ form::input(name="name", title="名称", value=row.name) }}
{{ form::input(name="password", title="密码", value=row.name) }}
{{ form::input(name="re_password", title="重复密码", value=row.name) }}
{{ form::input(name="remark", title="备注", value=row.remark) }}
<script>
layui.validators = { 
    name: function(value) { 
        if (value.length < 5) { 
            return '昵称至少5个字符';
        }
    }
};
</script>
{% endblock body -%}
