{% extends "_layouts/index.html" -%}
{% block content -%}
<tbody>
    {% for r in records -%}
    <tr>
        <td> <input type="checkbox" name=""  lay-skin="primary"> </td>
        <td>{{ r.id }}</td>
        <td>{{ r.name }}</td>
        <td>{{ r.last_ip }}</td>
        <td>{{ r.state }}</td>
        <td>{{ r.login_count }}</td>
        <td>{{ r.last_login|date(format="%Y-%m-%d %H:%M") }}</td>
        <td>{{ r.created|date(format="%Y-%m-%d %H:%M") }}</td>
        <td>{{ r.updated|date(format="%Y-%m-%d %H:%M") }}</td>
        <td class="td-manage">
            <a href="javascript:;"  title="启用"><i class="layui-icon">&#xe601;</i></a>
            <a title="编辑" href="javascript:;"><i class="layui-icon">&#xe642;</i></a>
            <a title="删除" href="javascript:;"><i class="layui-icon">&#xe640;</i></a>
        </td>
    </tr>
    {% endfor -%}
</tbody>
{% endblock content -%}
