{% extends "_layouts/edit.html" -%}
{% import "_macros/form.html" as form -%}
{% block body %}
{{ form::input(name="name", title="名称", value=row.name) }}
{{ form::input(name="remark", title="备注", value=row.remark) }}
{{ form::input(name="seq", title="排序", value=row.seq) }}
<script>
layui.validators = { 
    name: function(value) { 
        if (value.length < 2 || value.length > 20) { 
            return '分类名称长度在2-20之间';
        }
    },
    remark: function(remark) { 
        if (value.length > 100) { 
            return '备注长度不能超过100';
        }
    },
    seq: function(value) { 
        if (isNaN(value)) { 
            return '排序必须是数字';
        }
    }
};
</script>
{% endblock body -%}
