{% extends "_layouts/edit.html" -%}
{% block body %}
<div class="layui-form-item">
    <label for="username" class="layui-form-label"> <span class="x-red">*</span>角色名称 </label>
    <div class="layui-input-inline">
        <input type="text" id="name" name="name" required="" lay-verify="required" autocomplete="off" class="layui-input" value="{{ row.name }}" />
    </div>
    <div class="layui-form-mid layui-word-aux"> <span class="x-red">*</span> </div>
</div>
<div class="layui-form-item">
    <label for="phone" class="layui-form-label"> <span class="x-red">*</span>角色备注 </label>
    <div class="layui-input-inline">
        <input type="text" id="remark" name="remark" required="" lay-verify="required" autocomplete="off" class="layui-input" value="{{ row.remark }}" />
    </div>
    <div class="layui-form-mid layui-word-aux"> <span class="x-red">*</span> </div>
</div>
<script>
layui.validators = { 
    name: function(value) { 
        if (value.length < 5) { 
            return '昵称至少5个字符';
        }
    }
};
</script>
{% endblock body %}
