{% extends "_layouts/index.html" -%}
{% import "_macros/options.html" as option -%}
{% block content -%}
<div class="layui-card-body ">
    <form class="layui-form layui-col-space5">
        <div class="layui-inline layui-show-xs-block">
            <input class="layui-input"  autocomplete="off" placeholder="开始日" name="start" id="start">
        </div>
        <div class="layui-inline layui-show-xs-block">
            <input class="layui-input"  autocomplete="off" placeholder="截止日" name="end" id="end">
        </div>
        <div class="layui-inline layui-show-xs-block">
            <input type="text" name="username"  placeholder="请输入用户名" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-inline layui-show-xs-block">
            <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </div>
    </form>
</div>
<div class="layui-card-header">
    {{option::delete_all(controller=controller_name)}}
    {{option::add(controller=controller_name, height=300)}}
</div>
<div class="layui-card-body ">
    <table class="layui-table layui-form">
    <thead>
        <tr>
            <th style="width: 40px"> <input type="checkbox" name=""  lay-skin="primary"> </th>
            <th>编号</th>
            <th>上级菜单</th>
            <th>菜单名称</th>
            <th>菜单级别</th>
            <th>状态</th>
            <th>链接地址</th>
            <th>是否外链</th>
            <th>操作</th>
        </tr>
        <tbody>
        {% for r in records -%}
        <tr>
            <td> <input type="checkbox" name=""  lay-skin="primary"> </td>
            <td>{{r.id }}</td>
            <td>{{r.parent_id | menu_name}}</td>
            <td>{{r.name }}</td>
            <td>{% if r.level_id == 0 %}一级菜单{% else %}二级菜单{% endif %}</td>
            <td>{{r.state | state_name}}</td>
            <td>{{r.url }}</td>
            <td>{{r.is_blank | yes_no}}</td>
            <td class="td-manage"> {{option::update()}} | {{option::delete()}} </td>
        </tr>
        {% endfor -%}
        </tbody>
    </thead>
    </table>
</div>
{% endblock content -%}
