{% extends "_layouts/edit.html" -%}

{% block body %}
<script type="text/javascript" src="/static/js/aliyun-oss-sdk.min.js"></script>
{{ form::input(name="title", title="标题", value=row.title) }}
{{ form::remark(value=row.remark) }}
{{ form::file(name="cover_image", title="封面图片", value=row.cover_image, length=380) }}
{{ form::input(name="duration", title="时长(秒)", value=row.duration, length=95) }}
{{ form::seq(value=row.seq) }}
{{ form::state(name="state", title="状态", value=row.state) }}
{{ form::input(name="content", title="说明", value=row.remark, length=380) }}
<script>
layui.validators = { 
    title: function(value) { 
        if (value.length < 2 || value.length > 50) { 
            return '标题长度必须2-50之间';
        }
    },
    remark: function(value) { 
        if (value.length > 100) { 
            return '备注长度不能超过100';
        }
    },
    cover_imge: function(value) { 
        if (value.length > 100) { 
            return '封面图片长度过长';
        }
    },
    duration: function(value) { 
        if (isNaN(value)) { 
            return '时长必须是数字';
        }
    },
    seq: function(value) { 
        if (isNaN(value)) { 
            return '排序必须是有效的数字';
        }
    }
};

layui.config({
    base: '/layui-aliossUploader/examples/js'
}).extend({
    aliossUploader: 'aliossUploader'
}).use(['aliossUploader'], function() {
    var aliossUploader = layui.aliossUploader;
    aliossUploader.render({
        elm:'#cover_image',
        region:'{{end_point}}',
        bucket: '{{bucket}}',
        layerTitle: '上传数据文件',
        accessidFiled : 'accessid',
        policyFiled : 'policy',
        signatureFiled : 'signature',
        //policyData:{},
        //policyHeader:{
        //    Authorization:layui.data('XXXXXX').Authorization
        //},
        policyUrl:'https://www.XXXXXX.cn/pop/api/alioss/policy',
        prefixPath:'coordtrans/',
        fileType:'images',
        multiple:false,
        httpStr:'http',
        allUploaded:function(res){
            layer.msg(JSON.stringify(res));
        },
        policyFailed:function(res){
            layer.msg(JSON.stringify(res));
        }
    });
    //aliossUploader.render({
    //    elm:'#uploadMore',
    //    region:'oss-cn-shanghai',
    //    bucket: 'XXXXXX',
    //    layerTitle:'上传文件到阿里云OSS',
    //    accessidFiled : 'accessid',
    //    policyFiled : 'policy',
    //    signatureFiled : 'signature',
    //    codeFiled:'code',
    //    codeStatus:0,
    //    policyMethod:'GET',
    //    policyData:{},
    //    policyHeader:{
    //        Authorization:layui.data('XXXXXX').Authorization
    //    },
    //    policyUrl:'https://www.XXXXXX.cn/pop/api/alioss/policy',
    //    httpStr:'https',
    //    layerArea:['800px','500px'],
    //    prefixPath:'coordtrans/',
    //    fileType:'images',
    //    multiple:true,
    //    allUploaded:function(res){
    //        layer.msg(JSON.stringify(res));
    //    },
    //    policyFailed:function(res){
    //        layer.msg(JSON.stringify(res));
    //    },
    //    uploadRenderData:{
    //        size:100
    //    }
    //});
});
</script>
{% endblock body -%}
