{% extends "_layouts/edit.html" -%}
{% import "_macros/form.html" as form -%}
{% block body %}
{{ form::input(name="title", title="标题", value=row.title) }}
{{ form::input(name="remark", title="备注", value=row.remark) }}
{{ form::input(name="cover_image", title="封面图片", value=row.cover_image) }}
{{ form::input(name="duration", title="时长(秒)", value=row.duration) }}
{{ form::input(name="seq", title="排序", value=row.seq) }}
{{ form::state(name="state", title="状态", value=row.state) }}
{{ form::input(name="content", title="说明", value=row.remark) }}
<script>
layui.validators = { 
    title: function(value) { 
        if (value.length < 2 || value.length > 50) { 
            return '标题长度必须2-50之间';
        }
    },
    remark: function(value) { 
        if (value.length > 100) { 
            return '备注长度不能超过100';
        }
    },
    cover_imge: function(value) { 
        if (value.length > 100) { 
            return '封面图片长度过长';
        }
    },
    duration: function(value) { 
        if (isNaN(value)) { 

        }
    }
};
</script>
{% endblock body -%}
