<!doctype html>
<html  class="x-admin-sm">
<head>
    <title>后台管理系统</title>
    {% include "_elements/head.html" -%}
</head>
<body class="login-bg">
    <div class="login layui-anim layui-anim-up">
        <div class="message">RustAdmin后台管理系统</div>
        <div id="darkbannerwrap"></div>
        <form method="post" class="layui-form" >
            <input name="username" placeholder="用户名"  type="text" lay-verify="required" class="layui-input"  /> <hr class="hr15">
            <input name="password" lay-verify="required" placeholder="密码"  type="password" class="layui-input" /> <hr class="hr15">
            <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit" /> <hr class="hr20" >
        </form>
    </div>
    <script>
        $(function  () {
            layui.use(['form','jquery'] , function(){
                var form = layui.form, $ = layui.jquery;
                // layer.msg('玩命卖萌中', function(){
                //   //关闭后的操作
                //   });
                //监听提交
                form.on('submit(login)', function(data){
                    $.post("/index/login", {}, function() {
                            
                    });
                    //layer.msg(JSON.stringify(data.field),function(){
                    //    location.href='index.html'
                    //});
                    location.href = "/index/manage";
                    return false;
                });
            });
        })
    </script>
    <!-- 底部结束 -->
</body>
</html>
