{% extends "_layouts/index.html" -%}
{% block content -%}
<div class="layui-card-body ">
    <form class="layui-form layui-col-space5">
        <div class="layui-inline layui-show-xs-block">
            <input class="layui-input"  autocomplete="off" placeholder="开始日" name="start" id="start">
        </div>
        <div class="layui-inline layui-show-xs-block">
            <input class="layui-input"  autocomplete="off" placeholder="截止日" name="end" id="end">
        </div>
        <div class="layui-inline layui-show-xs-block">
            <input type="text" name="username"  placeholder="请输入用户名" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-inline layui-show-xs-block">
            <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </div>
    </form>
</div>
<div class="layui-card-header">
    <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
    <button class="layui-btn" onclick="xadmin.open('添加用户','/admin_roles/create',600, 400)"><i class="layui-icon"></i>添加</button>
</div>
<div class="layui-card-body ">
    <table class="layui-table layui-form">
    <thead>
        <tr>
            <th style="width: 40px"> <input type="checkbox" name=""  lay-skin="primary"> </th>
            <th>编号</th>
            <th>角色名称</th>
            <th>备注</th>
            <th>操作</th>
        </tr>
        <tbody>
        {% for r in records -%}
        <tr>
            <td> <input type="checkbox" name=""  lay-skin="primary"> </td>
            <td>{{ r.id }}</td>
            <td>{{ r.name }}</td>
            <td>{{ r.remark }}</td>
            <td class="td-manage">
                <a href="javascript:;"  title="启用"><i class="layui-icon">&#xe601;</i></a>
                <a title="编辑" href="javascript:;"><i class="layui-icon">&#xe642;</i></a>
                <a title="删除" href="javascript:;"><i class="layui-icon">&#xe640;</i></a>
            </td>
        </tr>
        {% endfor -%}
        </tbody>
    </thead>
    </table>
</div>
{% endblock content -%}
