{% macro input(name, title, value="", required=true, note="") -%}
    <div class="layui-form-item">
        <label for="{{name}}" class="layui-form-label"> <span class="x-red">*</span>{{title}}: </label>
        <div class="layui-input-inline">
            <input type="text" id="{{name}}" name="{{name}}" required="" {% if required %}lay-verify="required"{% endif %} autocomplete="off" class="layui-input" value="{{ value }}" />
        </div>
        <div class="layui-form-mid layui-word-aux"> <span class="x-red">*</span> {{note}} </div>
    </div>
{% endmacro input -%}

{% macro state(name, title, value="", note="") -%}
    <div class="layui-form-item">
        <label for="{{name}}" class="layui-form-label"> <span class="x-red">*</span>{{title}}: </label>
        <div class="layui-input-inline">
            <select name="city" lay-verify="required">
                <option value="0" {% if value == 0 %}selected="selected"{% endif %}>禁用</option>
                <option value="1" {% if value == 1 %}selected="selected"{% endif %}>启用</option>
            </select>
        </div>
        <div class="layui-form-mid layui-word-aux"> <span class="x-red">*</span> {{note}} </div>
    </div>
{% endmacro state -%}
