{% macro input(name, title, value="", required=true, note="") -%}
    <div class="layui-form-item">
        <label for="{{name}}" class="layui-form-label"> <span class="x-red">*</span>{{title}}: </label>
        <div class="layui-input-inline">
            <input type="text" id="{{name}}" name="{{name}}" required="" {% if required %}lay-verify="{{name}}"{% endif %} autocomplete="off" class="layui-input" value="{{ value }}" />
        </div>
        <div class="layui-form-mid layui-word-aux"> <span class="x-red">*</span> {{note}} </div>
    </div>
{% endmacro input -%}

{% macro password(name, title, required=true, note="") -%}
    <div class="layui-form-item">
        <label for="{{name}}" class="layui-form-label"> <span class="x-red">*</span>{{title}}: </label>
        <div class="layui-input-inline">
            <input type="password" id="{{name}}" name="{{name}}" required="" {% if required %}lay-verify="{{name}}"{% endif %} autocomplete="off" class="layui-input" value="" />
        </div>
        <div class="layui-form-mid layui-word-aux"> <span class="x-red">*</span> {{note}} </div>
    </div>
{% endmacro password -%}

{% macro state(value) -%}
    <div class="layui-form-item">
        <label for="state" class="layui-form-label"> <span class="x-red">*</span>状态: </label>
        <div class="layui-input-inline">
            <select name="state" lay-verify="required">
                <option value="0" {% if value == 0 %}selected="selected"{% endif %}>禁用</option>
                <option value="1" {% if value == 1 %}selected="selected"{% endif %}>启用</option>
            </select>
        </div>
        <div class="layui-form-mid layui-word-aux"> <span class="x-red">*</span> </div>
    </div>
{% endmacro state -%}

{% macro yes_no(name, title, value="", note="") -%}
    <div class="layui-form-item">
        <label for="{{name}}" class="layui-form-label"> <span class="x-red">*</span>{{title}}: </label>
        <div class="layui-input-inline">
            <select name="{{name}}" lay-verify="required">
                <option value="0" {% if value == 0 %}selected="selected"{% endif %}>否</option>
                <option value="1" {% if value == 1 %}selected="selected"{% endif %}>是</option>
            </select>
        </div>
        <div class="layui-form-mid layui-word-aux"> <span class="x-red">*</span> {{note}} </div>
    </div>
{% endmacro yes_no -%}

{% macro list(name, title, data, value="", note="") -%}
    <div class="layui-form-item">
        <label for="{{name}}" class="layui-form-label"> <span class="x-red">*</span>{{title}}: </label>
        <div class="layui-input-inline">
            <select name="{{name}}" lay-verify="required">
                {% for key, val in data %}
                <option value="{{key}}" {% if value == val %}selected="selected"{% endif %}>{{val}}</option>
                {% endfor -%}
            </select>
        </div>
        <div class="layui-form-mid layui-word-aux"> <span class="x-red">*</span> {{note}} </div>
    </div>
{% endmacro list -%}

{% macro seq(value) -%}
    <div class="layui-form-item">
        <label for="seq" class="layui-form-label"> <span class="x-red">*</span>排序: </label>
        <div class="layui-input-inline">
            <input type="text" id="seq" name="seq" required="true" lay-verify="required" autocomplete="off" class="layui-input" value="{{ value }}" />
        </div>
        <div class="layui-form-mid layui-word-aux"> <span class="x-red">*</span> </div>
    </div>
{% endmacro seq -%}

